  * {
    box-sizing: border-box;
  }

  body {
    background-color: #f7f7f9;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #1b1b1d;
    text-align: center;
    line-height: 1.5;
    margin:0;
    padding:0;
  }

  a {
    text-decoration: none;
    color: #f7f7f9;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .about-me li,
  footer ul li {
    display: inline;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    margin-top: 0;
    text-transform: uppercase;
  }


  header {
    padding: 325px 0;
  }

  section {
    min-height: 200px;
    padding: 6% 0;
  }

  /*navigation*/
  nav {
    padding: 0 22%;
    background-color: #1b1b1d;
    border-bottom: 1px #f7f7f9 solid;
    color: #ddd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .logo-container{
    float: left;
  }

  .logo {
    height: 50px;
    vertical-align: middle;
  }

  .navigation .nav-toggler {
    display: none;
  }

  /*buttons*/
  .btn {
    padding: 10px 40px;
    background-color: #f7f7f9;
    border-radius: 20px;
    color: #000;
    margin-right: 10px;
  }

  .btn:hover {
    background-color: #ff9292;
  }

  .btn-container {
    margin-top: 25px;
  }

  /*introduction*/
  .avatar {
    height: 350px;
  }

  .header-right{
    font-size: 20px;
  }

  .header-right p,
  .title {
    color: #e76c6c;
  }

  .header-right p,
  .header-right h1 {
    padding: 0;
    margin: 0;
  }

  .main-container {
    padding: 35% 10%;
  }

  .main-display {
    height: 100vh;
  }

  /*about-me section*/
  .about-me {
    background-color: #ff9292;
    padding: 10% 15%;
  }

  .hobbies-container {
    color: #f7f7f9;
    margin: 5%;
    margin-bottom: 0;
  }

  .hobbies-icon {
    height: 80px;
  }

  /*project section*/
  .project h3 {
    font-size: 20px;
    margin-bottom: 0;
  }

  .project {
    background-color: #1b1b1d;
    color: #f7f7f9;
    padding: 10% 3%;
  }

  .project-container{
    display: flex;
    flex-direction: column;
  }

  .project-box{
    margin-bottom: 40px;
  }

  .proj-img {
    width: 260px;
    height: 300px;
    border: 2px solid #f7f7f9;
  }

  .project p {
    margin: 7px;
    font-size: 16px;
  }

  /*footer section*/
  i{
    color: black;
  }
  i:hover{
    color: #ff9292;
  }

  footer p {
    font-size: 14px;
    margin: 0;
  }

  footer ul {
    margin-top: 10px;
  }

  footer li {
    margin: 0 10px;
  }

  .social-icon {
    margin-top: 10px;
    height: 30px;
  }

  @media screen and (max-width: 750px) {
    .navigation ul{
      background-color:  #1b1b1d;
      line-height: 100px;
      font-size: 25px;
      width: 100%;
      padding: 0;
      height: auto;
      max-height: 0;
      overflow: hidden;
      transition: all ease-in-out 0.3s;
    }

    .navigation ul li {
      width: 100%;
    }

    .navigation ul.open {
      max-height: 100vh;
    }

    .navigation ul li:hover {
      background-color: #ff9292;
    }

    .navigation .nav-toggler {
      display: block;
      position: absolute;
      height: 40px;
      top: 10px;
      right: 20px;
      background-color: transparent;
      color: #f7f7f9;
      border: none;
      outline: none;
      padding: 0 5px;
      cursor: pointer;
    }

    .navigation .nav-toggler span,
    .navigation .nav-toggler span::before,
    .navigation .nav-toggler span::after {
      display: block;
      content: '';
      background-color: #f7f7f9;
      height: 3px;
      width: 28px;
      border-radius: 4px;
      transition: all ease-in-out 0.3s;
    }

    .navigation .nav-toggler span::before {
      transform: translateY(-8px);
    }

    .navigation .nav-toggler span::after {
      transform: translateY(5px);
    }

    .navigation .nav-toggler.open-nav-toggler span {
      background-color: transparent;
    }

    .navigation .nav-toggler.open-nav-toggler span::before {
      transform: translateY(0px) rotate(45deg);
    }
    .navigation .nav-toggler.open-nav-toggler span::after {
      transform: translateY(-3px) rotate(-45deg);
    }
  }

  @media screen and (min-width: 750px) {
    body{
      font-size: 20px;
    }

    /*main section*/
    h1{
      font-size: 45px;
    }

    .avatar{
      height: 600px;
      z-index: -1;
      position: relative;
    }

    .main-container{
      display: flex;
      padding: 20% 10%;
    }

    .header-right{
      font-size: 28px;
      line-height: 40px;
      text-align: left;
      margin-left: 30px;
      align-self: center;
    }

    /*nav section*/
    .nav-links{
      font-size: 16px;
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;
    }

    nav li {
      display: inline;
      margin:0 18px;
    }

    .nav-link:hover {
      color: #ff9292;
    }

    nav,
    .header-right p,
    .title, .btn {
      text-transform: uppercase;
    }

    /*about me section*/
    .about-me{
      padding: 10% 25%;
    }

    .hobbies-container{
      padding: 4.5%;
      padding-top: 0;
    }

    .hobbies-container ul{
      display: flex;
      justify-content: center;
    }

    .hobbies-container h3{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
    }

    .hobbies-container li{
      margin: 0 12px;
    }

    .hobbies-icon{
      height: 120px;
    }

    /*project-section*/
    .project{
      padding: 2.5%;
      padding-bottom: 5%;
    }

    .project-container{
      flex-direction: row;
      justify-content: space-evenly;
    }

    .project-box{
      margin-bottom: 0;
    }

    .project p{
      font-size: 18px;
    }

    .proj-img{
      width: 400px;
      height: 300px;
    }

    /*button*/
    .btn{
      margin-right: 20px;
    }
  }

  @media screen and (min-width:1000px) {
    /*intro me section*/
    h1{
      font-size: 60px;
    }

    .avatar{
      height: 700px;
    }

    .main-container{
      padding: 0 12%;
    }

    .header-left{
      margin-top: 13%;
    }

    .header-right{
      font-size: 32px;
      line-height: 55px;
      margin-left: 40px;
    }

    /*button*/
    .btn{
      margin-right: 20px;
    }

    .hobbies-container{
      padding: 0 4.5%;
    }
  }
